$leftDivHeaderHeight: 70px;
$leftDivSearchChatHeight: 60px;

@mixin scrollbars($size, $foreground-color, $background-color: mix($foreground-color, white,  50%)) {
	// For Google Chrome
	&::-webkit-scrollbar {
		width:  $size;
		height: $size;
	}

	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	&::-webkit-scrollbar-track {
		background: $background-color;
	}

	// For Internet Explorer
	& {
		scrollbar-face-color: $foreground-color;
		scrollbar-track-color: $background-color;
	}
}

.dashboard {
	width: 100%;
	height: 100vh;
	background-color: #000;
	color: #fff;
	padding: 40px 10%;
	display: grid;
	grid-template-columns: 450px 1fr;
	grid-template-rows: 100%;
	grid-template-areas: "leftDiv rightDiv";
	&-leftDiv {
		grid-area: leftDiv;
		background-color: #222;
		overflow: hidden;
		position: relative;
		&-header {
			background-color: #333;
			height: $leftDivHeaderHeight;
			padding: 5px 10px;
			width: 100%;
			display: flex;
			justify-content: flex-start;
			align-items: center;
			> img {
				width: 50px;
				height: 50px;
				border-radius: 50%;
				margin-right: 20px;
				border: 1px solid #222;
			}
			&-title {
				font-size: 17px;
			}
			&-options {
				margin-left: auto;
				cursor: pointer;
				position: relative;
			}
		}
		&-chatDiv {
			height: 100%;
			transition: transform ease-in-out 0.5s;
			&-searchChat {
				width: 100%;
				height: $leftDivSearchChatHeight;
				background-color: #222;
				display: flex;
				justify-content: center;
				align-items: center;
				border-bottom: 1px solid #333;
				> div:first-of-type {
					height: 40px;
					width: 95%;
				}
			}
	
			&-chats {
				height: calc(100% - #{$leftDivHeaderHeight} - #{$leftDivSearchChatHeight});
				background-color: #222;
				overflow: hidden auto;
				@include scrollbars(5px, slategray);
			}
		}
		&-addFriend {
			width: 100%;
			transition: transform ease-in-out 0.5s;
			position: absolute;
			top: $leftDivHeaderHeight;
			&-div {
				margin-top: 10px;
				width: 100%;
				display: grid;
				grid-template-columns: 40px 1fr 80px;
				grid-template-rows: 50px;
				grid-template-areas: "back searchInput submit";
				> div  {
					display: flex;
					justify-content: center;
					align-items: center;
				}
				&-back {
					grid-area: back;
					margin: 0 10px;
					cursor: pointer;
					> svg {
						font-size: 25px;
					}
				}
				&-searchInput {
					grid-area: searchInput;
				}
				&-submit {
					grid-area: submit;
					> button {
						height: 100%;
						border: none;
						background-color: #000;
						color: #fff;
						width: 70px;
						border-radius: 3px;
						cursor: pointer;
						&:hover {
							border: 1px solid #fff;
						}
					}
				}
			}
		}
	}
	&-rightDiv {
		grid-area: rightDiv;
		background-color: #222;
		border-left: 1px solid #333;
	}
}